<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babzo X Vogue</title>
    <link rel="stylesheet" href="../dist/output.css">
</head>
<body class="static">
    <div class="absolute top-0 left-0">
       BAHD MAGAZINES 
    </div>
    <div class="absolute top-0 right-0">
        info@bahdmagazines.com
    </div>
    <div class="absolute bottom-0 left-0 border-red-500 border-2">
        <div>
            Bahd Magazines is a magazine <br> of casual, but in-dept dialogues <br>
            on design and business. Our decisions <br> shape and influence this complex <br>
            world--to have a chance to make the <br>
            right ones we need to talk.
            .
        </div>
        <div>
            <small>
                &copy; 2023 Published by Babzo
            </small>
           
        </div>
    </div>
    <div>
        <ul class="absolute bottom-0 right-0"><a href="">#one</a><a href="">#two</a><a href="">#three</a><a href="">#four</a><a href="">#five</a></ul>
    </div>
   
    
</body>
</html>