<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babzo X Vogue</title>
    <link rel="stylesheet" href="../dist/output.css">
</head>
<body class="">
    <section class="static snap-mandatory snap-y overflow-scroll h-screen">
        <div class="snap-start w-screen h-screen flex items-center justify-center backdrop-blur-xl bg-amber-400     ">
            <img class="h-4/5 w-80 shadow-black shadow-xl backdrop-blur-md bg-white/30" src="../img/yellow stone natgeo.webp" alt="Picture of yellow stone park">
        </div>
        <div class="snap-start w-screen h-screen bg-green-800 flex items-center justify-center">
            <img class="h-4/5 w-80 shadow-black shadow-2xl" src="../img/forbes1.jpg" alt="Picture of forbes magazine">
        </div>
        <div class="snap-start w-screen h-screen bg-gradient-to-r from-amber-700 to-amber-200  flex items-center justify-center">
            <img class="h-4/5 w-80 shadow-black shadow-2xl " src="../img/national_geographic_magazine_cover_06.webp" alt="Picture of an ancient drawing on natgeo magazine">
        </div>
        <div class="snap-start w-screen h-screen flex items-center justify-center bg-gradient-to-r from-yellow-600 to-slate-400">
            <img class="h-4/5 w-80 shadow-black shadow-2xl" src="../img/vogue1.webp" alt="Picture of Vogue magazine">
        </div>
        <div class="absolute top-4 left-6 font-extrabold text-3xl">
            BAHD MAGAZINES 
         </div>
         <div class="absolute top-4 right-6 font-extrabold text-lg">
             info@bahdmagazines.com
         </div>
         <div class="absolute bottom-4 left-6 ">
             <div class="font-bold text-lg">
                 Bahd Magazines is a magazine <br> of casual, but in-dept dialogues <br>
                 on design and business. Our decisions <br> shape and influence this complex <br>
                 world--to have a chance to make the <br>
                 right ones we need to talk.
                 .
             </div>
             <div>
                 <small>
                     &copy; 2023 Published by Babzo
                 </small>
                
             </div>
         </div>
         <div class="absolute bottom-4 right-6">
             <ul class=""><a href="">#one</a><a href="">#two</a><a href="">#three</a><a href="">#four</a><a href="">#five</a></ul>
         </div>
    </section>
   
   
    
</body>
</html>