<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahd Cameras</title>
    <link rel="stylesheet" href="../dist/output.css">
    <script src="../js/index.js"defer></script>
</head>
<body>
   <section class="h-screen bg-contain text-pink-200 " style="background-image:url('../img/main_image.avif')">
        <header class="static top-0 flex justify-between bg-slate-500" >
            <div class="left">
                <i></i>
                <div class="font-semibold text-lg text-pink-400">BAHD CAMERAS</div>
            </div>
            <div class="right"><a class="m-3" href="#">How it works</a><a class="m-3" href="#">WORKFLOWS</a><a class="m-3" href="#">DOWNLOAD</a><a class="m-3" href="#">BLOG</a><a class="m-3" href="#">SUPPORT</a><a class="m-3" href="#">SHOP</a><a class="m-3" href="#">CURRENCY</a></div>
        </header>
        <div class="flex flex-col items-center pt-64">
            <div class="font-extrabold text-5xl mb-6 text-center">
                A CAMERA FOR <br> EVERY WORKFLOW
            </div>
            <div class="font-light text-2xl">
                Discover the perfect lens
            </div>
        </div>
   </section>
   <section class="grid grid-cols-2 gap-x-2">
        <div>
            <img src="" alt="">
            <p class="font-semibold text-lg" >WHAT IS</p>
            <p class="font-light text-sm">who</p>
        </div>
        <div>
            <img src="" alt="">
            <p class="font-semibold text-lg" >WHAT IS</p>
            <p class="font-light text-sm">who</p>
        </div>
        <div>
            <img src="" alt="">
            <p class="font-semibold text-lg" >WHAT IS</p>
            <p class="font-light text-sm">who</p>
        </div>
        <div>
            <img src="" alt="">
            <p class="font-semibold text-lg" >WHAT IS</p>
            <p class="font-light text-sm">who</p>
        </div>
   </section>
    
</body>
</html>